.header {
  width: 100%;
  background-color: var(--color-white-100);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  padding-bottom: 0;
  align-items: center;
}

.headerIcons {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
}
