.wrapper {
  flex: 1;
}

.form {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  background-color: var(--color-white-100);
  border-radius: 8px;
  border: 1px solid var(--color-stroke);
  padding: 12px 0 10px 40px;
}

.iconInput {
  position: absolute;
  display: block;
  left: 8px;
  top: 10px;

  @include square(24px);
}
